/* 기본 배경 */
body {
  background-color: #141414;
  color: white;
  margin: 0;
  font-family: "Pretendard", sans-serif;
}
.app {
  padding: 0px;
}

/* MOVIEAPP */
.logo {
  color: #e50914;
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  cursor: pointer;
  margin: 0;
}

/* NavBar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px 50px;
  background-color: #000000;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  transition: 0.2s;
}

/* 카드외부 */
.movie-card {
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  display: block;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

/* 카드 내부 */
.movie-info {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movie-title {
  font-size: 15px;
  margin: 0;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-rating {
  font-size: 13px;
  color: gold;
  margin: 0;
}

/*Carousel*/
.swiper {
  padding: 20px 0 50px 0 !important;
}
