.app {
  padding: 20px;
}

/* Grid 레이아웃 */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

/* MovieCard */
.movie-card {
  background-color: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  display: block;
}

.movie-info {
  padding: 10px;

  /* Flexbox 사용 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-title {
  font-size: 14px;
  margin: 0;
}

.movie-rating {
  font-size: 13px;
  color: gold;
}

/*Carousel*/
.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-card img {
  border-radius: 8px;
  width: 200px;
}
